.inst {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseBtn {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add space between buttons */
  margin-bottom: 20px;
}

.courseContent {
  margin-top: 50px;
}

.courseContent h1 {
  text-align: center;
}
h5{
  text-decoration: underline ;
  margin-bottom: 13px;
}
